header{
   position: sticky;
   top: 0;
   width: 100%;
   font-family: montserrat;
   margin-right: 5px;
   z-index: 100;
  }

  body{
     margin-left: 45px;
     margin-right: 45px;
  }
  
  a.hover_black:hover { 
   color: #74b9ff !important;
} 


#scrollUp
{
right: 70px;
position: fixed;
bottom : 90px;
opacity: 0.6;
transition-property: all;
transition-duration: 0.9s;
transition-timing-function: ease;
transition-delay: 0s;

}

h2{
   font-weight: bold;
   color: #74b9ff;
   margin-top: 20px;
}

.artemis, .ares, .hercules {
   font-weight: bold;
   font-size: large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

input{
   color: #4425f5;
}

.alert-heading {
   font-weight: bolder;
   text-align: center;
}

p{
text-align: justify;
}

#contact{
   margin-top: 10px;
}

.label{
   margin-top: 5px;
}